//----------------------
//-----COLORS----------
//----------------------
$col-lima: #84bc22;
$col-shark: #262a32;
$col-chambray: #3a5b96;
$col-pearl: #e8e2d6;
$col-gray: #999999;
$col-space: #2d343a;
$col-masala: #45413e;
//
//----------------------
//-----FONTS----------
//----------------------
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');
$font: 'Lato',
sans-serif;