.errorPageContent {
    @extend .row;
}

%lineDetail {
    border: 2px solid $col-shark;
    opacity: 0.2;
    width: 30%;
    margin-top: 20px;
}

.line {
    &Left {
        margin-right: 70px;
        @extend %lineDetail;
    }
    &Right {
        margin-left: 70px;
        @extend %lineDetail;
    }
}

.errorBread {
    @extend .w-100,
    .mt-3;
    & a {
        color: $col-lima;
    }
    & * {
        background-color: transparent;
    }
    & ol {
        @extend .justify-content-center;
    }
}

.errorBox {
    @extend .container,
    .my-5,
    .p-5;
    background-color: white;
    border-radius: 15px;
    font-family: $font;
    &Left {
        @extend .col-lg-5,
        .text-center;
        & h1 {
            font-size: 90px;
            font-weight: 900;
            color: $col-lima;
        }
    }
    &Right {
        @extend .col-lg-7,
        .pr-5;
        & h3 {
            font-weight: 900;
        }
        & a {
            color: $col-lima;
        }
    }
    &>div {
        @extend .row, //.mx-3,
        .align-items-center;
    }
}

.searchForm {
    border: 3px solid $col-pearl;
    border-radius: 20px;
    & form {
        @extend .form-inline,
        .px-2,
        .my-2,
        .my-lg-0;
    }
}