//----------------------
//-----FRIST ROW-----------
//----------------------
.firstRow {
    @extend .row,
    .p-5;
    background-color: white;
}

.frCarousel {
    @extend .col-lg-9;
    &>div {
        @extend .pl-5;
    }
}

.carouselStep {
    @extend .card,
    .text-white,
    .bg-dark;
    &>img {
        @extend .d-block,
        .w-100;
        opacity: .5;
    }
    &>div {
        @extend .card-img-overlay,
        .col-9;
        & h5 {
            @extend .my-5;
        }
        & p {
            @extend .mt-4;
        }
    }
}

.frCards {
    @extend .col-lg-3,
    .pr-5;
    & div {
        width: 100%;
    }
}

%frCardFormat {
    @extend .card,
    .text-center;
}

.frCard {
    &1 {
        @extend %frCardFormat;
        background-color: $col-lima;
        color: $col-pearl;
        & h5,
        & h6 {
            @extend .my-5;
        }
        & h5 {
            font-size: 5rem;
            font-weight: bold;
            margin-bottom: auto;
        }
        & h6 {
            font-size: x-large;
            text-transform: uppercase;
        }
    }
    &2 {
        @extend %frCardFormat,
        .mt-3,
        .pt-3,
        .border-0;
        height: 170px;
        padding-top: 14px;
        & p {
            font-size: x-small;
            padding-bottom: 40px;
        }
        & a {
            border: 2px solid $col-chambray;
            color: $col-chambray;
            border-radius: 20px;
            padding: 8px 30px;
            text-transform: uppercase;
            ;
        }
        & i {
            padding-right: 15px;
        }
    }
}