html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

* {
    font-family: $font;
}

//
hr {
    border: 2px solid $col-pearl;
    width: 40%;
    opacity: .2;
}

.page {
    &Index {
        background-color: $col-shark;
    }
    &Error {
        background-color: $col-pearl;
    }
}