//----------------------
//-----Nav--------------
//----------------------
.mainNav {
    @extend .navbar-light,
    .bg-light;
    & .mainNavList {
        @extend .ml-auto;
    }
    & .nav-link {
        @extend .px-3;
        &[aria-expanded="true"] {
            background-color: $col-shark;
            border-bottom: 5px solid $col-lima;
            color: white !important;
        }
    }
    & .megaDropContent {
        @extend .mt-0,
        .w-100,
        .border-0;
        background-color: $col-shark;
        .rowAlign {
            @extend .row,
            .justify-content-center,
            .m-4;
        }
    }
    & .category {
        &Prod {
            @extend .col-xl-7,
            .p-0;
        }
        &Sale {
            @extend .col-xl-2,
            .p-0;
        }
    }
    & .categColumn {
        @extend .col-sm-12,
        .col-xl-4;
    }
    & .megaImg {
        @extend .col-xl-3,
        .p-0,
        .text-center,
        .d-none,
        .d-xl-block;
    }
    & .dropdown {
        &-header,
        &-item {
            &:hover {
                background-color: transparent;
            }
            & a {
                color: white;
            }
        }
        &-header {
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}

//
//
//
//