//----------------------
//-----Third Row-----------
//----------------------
.thirdRow {
    @extend .row,
    .text-center,
    .align-items-center,
    .my-3;
    height: 500px;
    background: black url('../img/bgImage/bg-img.jpg') no-repeat;
    background-size: cover;
    color: white;
    & div {
        @extend .container,
        .w-50;
    }
    & h5 {
        font-size: 70px;
        font-weight: 900;
    }
}